:host {
  .stream{
    height: 480px;
    width: 640px;
    background-color: lightblue;
  }
  .joystick {
    display: flex;

    & .joystick-left {
      width: 50%;
      height: 400px;
      background-color: aqua;
    }

    & .joystick-right {
      width: 50%;
      height: 400px;
      background-color: chartreuse;
    }
  }

  mat-slider {
    width: 100%;
  }
}
