<div>Open console (F12)</div>
<img class="stream" src="http://alphabot2.local:8080/mjpeg" alt="video"/>
<!--<img class="stream" src="./mjpeg" alt="video"/>-->
<div class="stream">
  <div class="joystick-left"
       (mousedown)="joystickLeftMouseDown($event)"
       (mouseup)="joystickLeftMouseUp($event)"
       (mousemove)="joystickLeftMouseMove($event)"
       (mouseleave)="joystickLeftMouseUp($event)"
       (mouseenter)="joystickLeftMouseEnter($event)"
       (touchstart)="joystickLeftTouchStart($event)"
       (touchend)="joystickLeftTouchEnd($event)"
       (touchmove)="joystickLeftTouchMove($event)"
  >
  </div>
<!--  <div class="joystick-right"-->
<!--       (mousedown)="joystickRightMouseDown($event)"-->
<!--       (mouseup)="joystickRightMouseUp($event)"-->
<!--       (mousemove)="joystickRightMouseMove($event)"-->
<!--       (mouseleave)="joystickRightMouseUp($event)"-->
<!--       (mouseenter)="joystickRightMouseEnter($event)"-->
<!--      (touchstart)="joystickRightTouchStart($event)"-->
<!--      (touchend)="joystickRightTouchEnd($event)"-->
<!--      (touchmove)="joystickRightTouchMove($event)"-->
<!--  >-->
<!--  </div>-->
</div>
